.galeria-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.galeria-titulo {
  text-align: center;
  font-family: 'Bruno Ace', sans-serif;
  padding: 10px 0px;
}

.galeria-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0px;
}

.galeria-separador {
  display: flex;
  margin: 0 auto;
  width: 109px;
  height: 4px;
  background: rgba(44, 7, 148, 0.35);
}
