.container-header {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: 800;
  flex-wrap: wrap;
}

.header-navbar a {
  color: #000;
  text-decoration: none;
}

.header-navbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-navbar li {
  font-size: 1rem;
  list-style: none;
}

.header-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-div2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.img-shopp,
.img-user {
  width: 32px;
  height: 32px;
  transform: rotateY(180deg);
}

.img-logo {
  width: 34px;
  height: 34px;
}

.header-log {
  font-size: 1rem;
  font-weight: 800;
  width: 70px;
  border-radius: 5px;
  border: none;
  background-color: #2c0794;
  color: #ffffff;
  cursor: pointer;
}
